body{
    background: rgb(32, 32, 32);
    padding: 0px;
    margin: 0px;
}

p, h1, h2, h3, h4, h5, h6, li{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

p{
    text-indent: 50px;
    text-align: justify;
    line-height: 0.6cm;
}

li{
    text-align: justify;
}

#mainID_1{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.img_1{
    width: 70%;
}

.img_1::alt{
    color: white;
}

.fig_1{
    text-align: center;
}

.h1_1{
    color: rgb(0, 190, 32);
}

.h2_1{
    color: rgb(214, 20, 20);
    text-align: left;
}

.ul_1{
    margin-left: 50px;
}

.img_2{
    /* width: 500px;
    height: 400px; */
    width: 70%;
}