body{
    background: rgb(32, 32, 32);
    padding: 0px;
    margin: 0px;
}

p, h1, h2, h3, h4, h5, h6, li{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    text-indent: 50px;
}

#mainID_1{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.img_1{
    width: 500px;
    height: 500px;
}

.fig_1{
    text-align: center;
}

.h1_1{
    color: rgb(0, 190, 32);
}